body {
 background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}

img {
 margin-left: 5px;
 margin-top:10px;
 margin:auto;
 align-item: center;
 }

.row{
 position:relative;
 margin:auto;
 margin-left:auto;
 margin-right:auto;
 display: flex;
 justify-content: center;
}

.white{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:8FBC8F;
 float:left;
 align-content: center;
}
 
.black{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:#2F4F4F;
 float:left;
 align-content: center;
}

#footer {
 position:fixed;
 bottom:0px;
 left:0px; 
 border:solid 1px;
 padding: 10px;
 margin:0px;
 background-color:8FBC8F;
 width:100%;
 display: flex;
 justify-content: center;
}

#container {
 margin-top:10%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin-top:50px;
 margin-bottom:50px;
 width:100%;
 background-color:8FBC8F;
 text-align:center; 
 z-index:10;
 font-family: 'JustLettersMedium'; 
 font-weight: normal; 
 font-style: normal; 
 font-size:36px;
 float:none;
}
#clear{
clear: both; 
}
/*.div{
    display: flex;
    justify-content: center;
    align-content: center;
    }

.row{
    position:relative;
    margin-left:10%;
    margin-right:10%;
    }

.white{
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color:8FBC8F;
    float:left;
    }

.black{
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color:#2F4F4F;
    float:left;
    }
#footer {
     border:solid 1px;
     padding: 10px;
     margin:10px; 
     text-align:center; 
    float: none;
    margin-bottom: 0px;
    }
#container {
     margin-top:20%;
     margin-left:10%;
     margin-right:10%;
     margin-bottom:5%;
    }
#title {
     font-family: 'JustLettersMedium'; 
     font-weight: normal; 
     font-style: normal; 
     font-size:36px;
     position:fixed;
     top:0px;
     left:0px; 
     padding:10px;
     margin:0px;
     width:100%;
     background-color:8FBC8F;
     text-align:center; 
     z-index:10;
    float: none;
    }
img {
     margin-left: 5px;
     margin-top:10px;
     }
body {
     background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
    }
#clear {
    clear:both; 
    }*/
